html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    background-color: aqua;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    gap: 2%;
    padding: 2%;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    background-color: rgb(155, 113, 196);
    height: 50%;
    width: 25%;

}

.barra{
   display: flex;
   justify-content: space-between;

}

.jogo{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.box, #Embaralhar{
    padding: 2%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
    
}

.vitoria{
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    
  
    
    
}
